
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Cw12.Models.Patient>



<h1>List of patients</h1>
<p>

    <table>
        <tr>
            <th>@Html.DisplayNameFor(modelItem => modelItem.FirstName)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.LastName)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Birthdate)</th>
            <th>Options</th>

        </tr>

        @foreach (var patient in Model)
        {
            <tr>

                <td>
                    @patient.FirstName

                </td>

                <td>

                    @patient.LastName
                </td>

                <td>

                    @patient.Birthdate

                </td>

                <td>
                    @* <a asp-action="Edit" asp-route-id="@patient.IdPatient">Edit</a> | *@
                    @* <a asp-action="Details" asp-route-id="@patient.IdPatient">Details</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@patient.IdPatient">Delete</a> *@

                    <a href="/patients/edit/@patient.IdPatient"> Edit </a> |
                    <a href="/patients/getdetails/@patient.IdPatient"> Details </a> |
                    <a href="/patients/delete/@patient.IdPatient"> Delete </a>


                </td>

            </tr>
        }

    </table>
</p>


